# ==========================================================
# File môi trường
# ==========================================================
.env
**/node_modules
**/.env

# ==========================================================
# Thư mục chứa các package đã cài đặt
# `**/node_modules` sẽ bỏ qua MỌI thư mục node_modules ở bất kỳ đâu
# ==========================================================
**/node_modules/

# ==========================================================
# File log và các file tạm
# ==========================================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================================
# Các file và thư mục build của Angular
# ==========================================================
/dist/
/tmp/
/.angular/
/coverage/

# ==========================================================
# File của hệ điều hành và trình soạn thảo
# ==========================================================
.DS_Store
Thumbs.db
.vscode/
.idea/